.App {
  text-align: center;
  flex-grow: 1;
}

.red{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 500px;
  text-align: center;
  background: rgb(255, 255, 255);
  border-radius: 25px;
  border: 0.5px solid rgb(216, 216, 216);
}

.forgotPass{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 400px;
  text-align: center;
  background: rgb(255, 255, 255);
  border-radius: 25px;
  border: 0.5px solid rgb(216, 216, 216);
}


.fundooHeading{
  margin-top: 20px;
  letter-spacing: .11785714em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: bold;
  text-transform: uppercase;
}

.fundooHeading :nth-child(1){
  color: rgb(32, 110, 255);
}
.fundooHeading :nth-child(2){
  color: rgb(72, 255, 0);
}
.fundooHeading :nth-child(3){
  color: red;
}
.fundooHeading :nth-child(4){
  color: rgb(0, 174, 255);
}
.fundooHeading :nth-child(5){
  color: rgb(185, 187, 46);
}
.fundooHeading :nth-child(6){
  color: red;
}

.table1{
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  text-align: center;
}
.table1 td{
  padding: 10px;
}

.input1{
  width: 90%;
}

.input2{
  width: 80%; 
  margin-top: 20px;
}

.login{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 500px;
  text-align: center;
  background: rgb(255, 255, 255);
  border-radius: 25px;
  border: 0.5px solid rgb(216, 216, 216);
}


.root{
  flex-grow: 1;
}

.toolbar{
  display: flex;

}
.icon{
  height: 20px;
  width: 20px;
  margin-right: 50px;
}

.title-body{
  display: flex;
  width: 16%;
}
.search{
  background: #f1f3f4;
  width: 50%;
  box-shadow: 1px 1px 3px #888888;
  position: relative;
  margin-left: 50px;
  margin-right: 300px;
  text-align: center;
  align-content: center;
  border-radius: 5px;
}

.search-icon{
  height: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.gridIcon{
  display: block;
}
.search-input{
  position: relative;
  color: inherit;
  padding: 5px;
  width: 80%;
}


.title{
  text-align: center;
  padding-left: 10px;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 500;
  color: #505050;
  margin-top: 6px;
}
.avatar{
  cursor: pointer;
  height: 60px;
  width: 60px;
  border: 1px solid #505050;
}

.drawer{
  position: absolute;
  flex-shrink: 0;
}



.drawer-list{
  width: 200px;
  cursor: pointer;
  list-style: none;
  position: relative;
  justify-content: center;
  vertical-align: middle;
  letter-spacing: .01785714em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 200;
  color: #000000;
}

.drawer-list:hover{
  border-radius:0px 25px 25px 0px;
  background-color: rgb(255, 228, 160);
}

.drawer-list:active{
  border-radius:0px 25px 25px 0px;
  background-color: rgb(170, 142, 78);
}

.drawer-list p{

  margin-left:80px;
}

.label-heading{
  letter-spacing: .11785714em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: .700rem;
  font-weight: 100;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 20px;
  height: 0px;
  color: #505050;
}
.drawer-icon{
  margin-left: 40px;
  height: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  pointer-events: none;
}


.NoteGrid{
  margin-right: 10px;
  margin-left: 100px;
  width: 70%;
  margin-top: 50px;
}

.Notesection{

  height: 70%;
  width: 100%;
  position: relative;
  /* background: lightgreen; */
  transition: 1s;
  margin-left: 100px;

}

.Notesection-shift{
  display: block;
  height: 70%;
  width: 90%;
  position: relative;
  /* background: lightgreen; */
  margin-left: 200px;
  transition: 0.7s;

}


.showEditCard{
  margin-left: 300px;
}
.note-edit{
  border:2px solid black;
  margin-top: 100px;
  text-align: center;
  height: 20%;
  width: 60%;
  position: relative;
  transition: 1s;
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-left: -150px;
}
.note-edit p{
  margin-top: -20 0px;
}

.note-edit-shift{
  align-content: center;
  border:2px solid black;
  display: block;
  height: 20%;
  width: 80.8%;
  position: relative;
  margin-left: 100px;
  transition: 1s;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
}

.showEditCard{
  margin-left: auto;
  margin-right: auto;
}


.profileMenu{
  background: red;
}

.noteCard{
  word-wrap: break-word;  
}



.noteTitle{
  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: -10px;
}
.noteContent{
  letter-spacing: .00825em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 10px;
}

.noteActions{
  margin-left: 0px;
  display: flex;
}

.noteActionContent{
  width: 18px;
  margin: 9px;
  height: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.noteButton{
  width: 20px;
  height: 20px;
}
.colorMenu{
  word-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.colorCircle{
  width: 40px;
  height: 40px;
  margin: 3px;
  border-radius: 30px;
  background: red;
}



/* .colorPalleteMenu>* {
  flex: 1 1 160px;
} */

.reminderMenu{
  height: auto;
  width: 400px;
}

.reminderMenu .heading{
  align-items: center;
  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: -5px;
  margin-bottom: 5px;
  margin-left: 10px;
  color: rgb(48, 48, 48);
  height: 10px;
  text-align: start;
  padding: 5px;
}

.reminderMenu .dateData{
  height: 0px;
  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}

.reminderMenu .footer{
  cursor: pointer;
  align-items: center;
  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 130px;
  color: rgb(48, 48, 48);
  height: 20px;
  text-align: start;
  padding: 5px;
}

.noteEditInput{
  position: relative;
  width: 100%;
  margin-left: 5px;
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  font-size: 2.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.noteEditClose{
  text-align: end;
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.labelEditHeading{
  margin-left: 20px;
  margin-top: 10px;
}

.labelEditContent{
  width: 200px;
  height: 40px;
  background: red;
}

.labelEditIcon :hover{
  background: red;
}


.collaboratorDiv{
  position: relative;
  background: lightgray;
  height: 60px;
  width: 400px;
  margin-top: 10px;
}

.collaboratorDiv p{
  position: absolute;
  margin-left: 70px;
  margin-top: 28px;
}

.collaboratorDiv h4{
  position: absolute;
  margin-top: 10px;
  margin-left: 70px;
}
.collaborateAvatar{
  position: absolute;
  margin: 10px;
}

.collaborateMenu{
  align-self: center;
  
}

.collaboratorInput{
  border-bottom: 1px solid #000000;
  margin-left: 60px;
  margin-top: 15px;
  width: 60%
}


.collaboratorDiv2{
  position: relative;
  background: lightgray;
  height: 100px;
  width: 400px;
  margin-top: 10px;
}

.collaboratorDiv2 p{
  position: absolute;
  margin-left: 100px;
  margin-bottom: 20px;
}

.collaboratorDiv2 h4{
  position: absolute;
  margin-top: 10px;
  margin-left: 70px;
}

@media screen and (max-width: 1290px) {
.Notesection-shift{
  width: 100%;
}

.avatar{
  margin-right: 20px;
}
}


@media screen and (max-width: 950px) {
.search{
  background: #f1f3f4;
  width: 40%;
  box-shadow: 1px 1px 3px #888888;
  position: relative;
  margin-left:50px;
  margin-right: 100px;
  text-align: center;
  align-content: center;
  border-radius: 5px;

}
.title{
  text-align: center;
  padding-left: 10px;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: xx-large;
  color: #505050;
  margin-top: 15px;
}

  .avatar{
    position: absolute;
    cursor: pointer;
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: 20px;
  }



  .showEditCard{
    margin-left: auto;
    margin-right: auto;
  }

  .drawer-list{
    width: 160px;
    
  }

  .NoteGrid{
    margin-right: 20px;
    margin-left: auto;
    width: 80%;
    margin-top: 50px;
  }
  

.Notesection{
  height: 70%;
  width: 100%;
  position: relative;
  /* background: lightgreen; */
  transition: 1s;
  margin-left: auto;
  margin-right: 100px;
}

.Notesection-shift{
  display: block;
  height: 70%;
  width: 90%;
  position: relative;
  /* background: lightgreen; */
  margin-left: 50px;
  transition: 0.7s;
}

.note-edit{
  margin-left: 50px;
}

.drawer-icon{
  margin-left: 20px;
  height: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.drawer{
  position: absolute;
  flex-shrink: 0;
}



.drawer-list{
  width: 150px;
  cursor: pointer;
  list-style: none;
  position: relative;
  justify-content: center;
  vertical-align: middle;
  letter-spacing: .01785714em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 200;
  color: #000000;
}

.drawer-list p{
  margin-left:60px;
}

.noteCard{
  margin-left: 100px;
}
  
}


@media screen and (max-width: 760px) {
  .search{
    display: none;  
  }

  /* .red{
    width: 300px;
    height: 400px;
  } */

.title{
  text-align: center;
  padding-left: 10px;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 800;
  color: #505050;
  margin-top: 15px;
}

  .avatar{
    position: absolute;
    cursor: pointer;
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: 20px;
  }

  .gridIcon{
    display: none;
    /* margin-left:200px;
    margin-right: 20px; */
  }


  .showEditCard{
    margin-left: auto;
    margin-right: auto;
  }

  .drawer-list{
    width: 160px;
    
  }

  .NoteGrid{
    /* background: red; */
    margin-right: 20px;
    margin-left: auto;
    width: 80%;
    margin-top: 50px;
  }
  

.Notesection{
  height: 70%;
  width: 100%;
  transition: 1s;

}

.Notesection-shift{
  display: block;
  height: 70%;
  width: 90%;
  margin-left: 30px;
  transition: 0.7s;
}

.note-edit{
  margin-left: 50px;
}

.drawer-icon{
  margin-left: 15px;
  height: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.drawer{
  position: absolute;
  flex-shrink: 0;
}



.drawer-list{
  width: 125px;
  cursor: pointer;
  list-style: none;
  position: relative;
  justify-content: center;
  vertical-align: middle;
  letter-spacing: .01785714em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 200;
  color: #000000;
}

.drawer-list p{
  margin-left:50px;
}

  
}

@media screen and (max-width: 460px) {
  .search{
    display: none;  
  }

  .avatar{
    position: absolute;
    cursor: pointer;
    border: 1px solid #ff0000;
    margin-left: auto;
    margin-right: 20px;
  }

  .gridIcon{
    display: none;
  }


  .showEditCard{
    margin-left: auto;
    margin-right: auto;
  }

  .drawer-list{
    width: 160px;
    
  }

  .NoteGrid{
    margin-right: 20px;
    margin-left: auto;
    width: 80%;
    margin-top: 50px;
  }
  

.Notesection{
  height: 70%;
  width: 100%;
  position: relative;
  /* background: lightgreen; */
  transition: 1s;

}

.Notesection-shift{
  display: block;
  height: 70%;
  width: 90%;
  position: relative;
  /* background: lightgreen; */
  margin-left: 100px;
  transition: 0.7s;
}

.note-edit{
  margin-left: 50px;
}


.drawer-icon{
  margin-left: 15px;
  height: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.drawer{
  position: absolute;
  flex-shrink: 0;
}



.drawer-list{
  width: 125px;
  cursor: pointer;
  list-style: none;
  position: relative;
  justify-content: center;
  vertical-align: middle;
  letter-spacing: .01785714em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 200;
  color: #000000;
}

.drawer-list p{
  margin-left:50px;
}

  
}



@media screen and (max-width: 270px) {
  .title{
    display: none;
  }

  .search{
    display: none;  
  }

  .avatar{
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: 1px solid #ff0000;
    margin-left: auto;
    margin-right: 20px;
  }

  .gridIcon{
    display: none;
  }
  
}


@media screen and (max-width: 70px) {
  .title{
    display: none;
  }
}